body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5d6d2;
}
.container {
    margin-top: 10vw;
    height: 46vw;
    display: grid;
    grid-template-columns: 58vw 20vw;
    grid-template-rows: 46vw;
    grid-gap: 2vw;
    justify-content: center;
    align-items: center;
}
.outside {
    width: 20vw;
    height: 46vw;
    float: right;
}
.box {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
#timerBox {
    position: absolute;
}
.circular{
    height:60px;
    width: 60px;
    position: relative;
    transform: scale(2);
}
.circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    background: #dde6f0;
    border-radius: 100%;
   
}
.circular #timerValue{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:14px;
    font-weight:500;
    color:#f5b7af;
}
.circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 60px, 60px, 30px);
}
.circle .bar #progress1,.circle .bar #progress2{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 30px, 60px, 0px);
    background: #f5b7af;
}
.circle .left #progress1{
    z-index:1;
}
@keyframes left{
    100%{
      transform: rotate(180deg);
    }
}
.circle .right {
    transform: rotate(180deg);
    z-index:3;
   
}
.circle .right #progress2{

}
@keyframes right{
    100%{
      transform: rotate(180deg);
    }
}
.score {
    width: 8vw;
    height: 5vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11vw;
    position: absolute;
}
#start,#restart {
    margin-top: -12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vw;
    color: black;
    background-color: #f5b7af;
    box-shadow: 2px 2px 2px  white;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
}
#restart {
    visibility: hidden;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(5,10vw);
    grid-template-rows: repeat(4,10vw);
    grid-gap: 2vw;
    justify-content: center;
    align-items: center;
    float: left;
}
.card {
    width: 10vw;
    height: 10vw;
}
.front {
    background: url("./static/front.jpg");
    cursor: pointer;
}
.front, .back {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .5s;
    position: absolute;
}
.back {
    visibility: hidden;
}
#info {
    width: 18vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.705);
    color: black;
    position: absolute;
    border-radius: 50px;
    margin-top: 20vw;
    margin-left: 30vw;
    visibility: hidden;

}
